body {background-color:aliceblue;}
h1{
    color:yellow;
    font-size:50px;
    margin:30px;
}
#firstContainer{
    background-color:black;
    color: aliceblue;
    font-size:40px;
    padding:40px;
    text-align:center;
}


